<template>
    <div class="row">
        <div class="modal" id="editCreateModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-12">
                            <label>Country</label>
                            <input class="form-control" name="country" v-model="modal.country">
                        </div>
                        <div class="col-12">
                            <label>Capital</label>
                            <input class="form-control" name="capital" v-model="modal.capital">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" @click.prevent="saveItem">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <form action="#" method="post" @submit.prevent="uploadFile" class="form" ref="fileInput" v-if="!is_loading && list.length==0">
            <div class="col-12 text-center mt-4">
                <input type="file" name="file" @change="setFile" ref="fileInput">
            </div>
            <div class="col-12 text-center mt-5">
                <button class="btn btn-success" type="submit">Send</button>
            </div>
        </form>
        <div class="col-12 text-center" v-if="is_loading"> Loading ...</div>
        <div class="col-12" v-if="list.length>0">
            <div class="dropdown" style="float: right">
                <a class="btn btn-default bg-white dropdown-toggle" href="#" role="button" id="downloadDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Download
                </a>

                <ul class="dropdown-menu" aria-labelledby="downloadDropdown">
                    <li><a class="dropdown-item" href="#" @click.prevent="downloadFile('csv')">CSV</a></li>
                    <li><a class="dropdown-item" href="#" @click.prevent="downloadFile('json')">JSON</a></li>
                    <li><a class="dropdown-item" href="#" @click.prevent="downloadFile('xml')">XML</a></li>
                </ul>
            </div>
            <button class="btn btn-primary" style="float: right;margin-right: 1rem" @click="newItem">New item</button>
        </div>
        <div class="col-12" v-if="list.length>0">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Country</th>
                        <th>Capital</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(row, index) in list">
                        <td>{{ index+1 }}</td>
                        <td>{{ row.country }}</td>
                        <td>{{ row.capital }}</td>
                        <td>
                            <button class="btn btn-primary mr-2" @click="editItem(index)">Edit</button>
                            <button class="btn btn-danger" @click="deleteItem(index)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "countries-list",
    data() {
        return {
            list:[],
            is_loading: false,
            file_name: null,
            modal: null
        }
    },
    props:{
        upload_link: String,
        download_link: String
    },
    created() {
        this.cleanModal();
    },
    methods:{
        uploadFile(){
            if (this.file_name == null || this.file_name.length==0){
                alert("Please select file for uploading!");
                return null;
            }
            this.is_loading = true;
            var data = new FormData();
            data.append('uploading', this.file_name);
            axios.post(this.upload_link,data).then(response => {
                this.is_loading = false;
                if (typeof response.data.items!=="undefined")
                    this.list = response.data.items;
                else alert(response.data.message);
            });
        },
        setFile(event){
            let files = event.target.files;
            if (files.length) {
                let extension = files[0].name.split(".");
                extension = extension[extension.length-1].toLowerCase();
                if (["csv","json","xml"].includes(extension))
                    this.file_name = files[0];
                else alert("Filetype is not allowed");
            }
        },
        deleteItem(index){
          if (confirm("Are you sure want to delete "+this.list[index].capital+"?"))
              this.list.splice(index,1);
        },
        editItem(index){
            this.modal = this.list[index];
            this.modal.index = index;
            $("#editCreateModal").modal("show");
        },
        saveItem(){
            if (typeof this.modal.index !== "undefined"){
                this.list[this.modal.index] = this.modal;
            }
            else this.list.push(this.modal);
            this.cleanModal();
            $("#editCreateModal").modal("hide");
        },
        cleanModal(){
            this.modal = {
                country: "",
                capital: ""
            };
        },
        newItem(){
            $("#editCreateModal").modal("show");
        },
        downloadFile(format){
            axios({
                url: this.download_link,
                responseType: 'blob',
                method: 'POST',
                data: {
                    items: this.list,
                    format: format
                }
            }).then(response => {
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'countries.'+format);
                document.body.appendChild(link);
                link.click();
            });
        }
    }
}
</script>
